  /* Скасовуємо підкреслення у посилань */
  .link {
     text-decoration: none;
    }
 
    /* Прибираємо маркер */
  .list {
      list-style: none;
       }
:root{
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --button-aktive: #404bbf;
    --white-text-color: #ffffff;

    --main-font: Roboto, sans-serif;
    --secondary-font: Releway, sans-serif;


}
body{
    font-family:var(--main-font);
    background-color:var(--white-text-color);
    color:var(--text);
    font-size: 16px;
    letter-spacing: 0.02em;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
 button{
    cursor: pointer;
 }
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* logo */
 .logo-web {
    font-family:var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
  color:var(--primary-brand);
}
.logo-dark {
        font-family:var(--secondary-font);
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    color:var(--dark);
margin-right: 76px;
padding-top: 24px;
padding-bottom: 24px;
}
.logo-dark:hover,
.logo-dark:focus{
    color:var(--primary-brand);
}
.logo-light {
        font-family:var(--secondary-font);
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    color:var(--light);
    padding-top: 100px;
    padding-left: auto;
}
.logo-light:hover,
.logo-light:focus{
    color: var(--primary-brand);
}

.page-header {



}
 /* < !--Navigation--> */
 .container-navigation{
    display: flex;
    align-items: center;


 }
.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}



.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color:var(--dark);
    display: flex;
    gap: 40px;}


.menu-item {
    display: inline-block; 
 


}



 .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color:var(--dark);}

.menu-link:hover,
.menu-link:focus { 

    color:var(--primary-brand);}
.current{
    color: var(--primary-brand);
}    
 

    
/* < !--Contact--> */
.contact{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color:var(--text); 
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {

  color:var(--primary-brand);} 



.contact-phone-number {}
.contact-mail{}

/* < !--Section--> */
.hero{
    background-color:var(--dark);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    padding-top: 188px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    
    

    text-align: center;
    letter-spacing: 0.02em;

    color:var(--white-text-color);}

   
    .hero-btn{
        font-family: inherit;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        
        
        font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color:var(--white-text-color);
            display: flex;
            

        flex-direction: row;
        align-items: flex-start;
         padding: 16px 32px; 
        gap: 10px;
        background-color:var(--primary-brand);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;}
    .hero-btn:hover,
    .hero-btn:focus{
        background-color:var(--button-aktive);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
    .hero-btn:active{
        background-color:var(--button-aktive);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
         /* < !--Section1--> */
.list-container{
    display: flex;
    margin-top: 120px;
    align-items: center;
    gap: 24px;
}
        
                 .features-item {}
        
                 .features {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color:var(--dark);}
        
                 .features-text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color:var(--text);
                width: 264px;}
        
                 .list-task {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                    /* padding-top: 72px; */
                    padding-bottom: 120px;
                 }
        
                 .task-img {
                 }
        
                 .team {
                    background-color:var(--light);
                 }
                 .team-wrapper{
                    background-color: #fff;
                
                     padding-top: 32px; 
                      padding-bottom: 32px; 
                      margin-bottom: 40px; 
                    border: none 
                 }
        
                 .section-title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.1;
                    text-align: center; 
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                padding-top: 120px;
                padding-bottom: 72px;
                }
                .team-container{
                display: flex;
                gap: 24px;
                align-items: center;

                }
                 .team-item {}
        
                 .team-img {}
        
                 .team-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color:var(--dark);
                    padding-top: 8px;
                
                }
        
                 .team-specialty {
                    
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color:var(--text);
                 ;} 
        
                 .footer-text {
                    width: 264px;
                    padding-top: 16px;
                    padding-bottom: 100px;
                    margin-left: auto
                    font-weight 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color:var(--accent); 
                }
                    .footer-background {
                    background-color:  #2E2F42}

                .button-list {
                   
                display: flex;
                gap: 24px;
                justify-content: center;
                margin-top: 81px;
                margin-bottom: 72px;
                }
                .button-portfolio{
                    background:var(--light);
                    width: 116px;
                    height: 48px;
                    border: 1px solid #E7E9FC;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                            
                           
                            
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.04em;
                        
                            color:var(--primary-brand);
                }

                .button-portfolio:hover,
                .button-portfolio:focus {
                     background-color:var(--button-aktive);
                     color:var(--white-text-color);
                }
                
                 .works-wrapper {
                    background-color: #fff;
                    box-sizing: border-box;
                    padding-top: 32px;
                    padding-bottom: 32px;
                    margin-bottom: 48px;
                    border: 1px solid #E7E9FC;
                    border-top: none;


                 }
                .works-list{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;




                }
                 .works-item {}
                
                .works-img {}

                 .works-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                
                    letter-spacing: 0.02em;
                    color:var(--dark);}
                
                .works-product {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;

                    letter-spacing: 0.02em;
                    color:var(--text);}